doctype html
html
    include ../includes/_head
    body
        main
            p.grid-padding Sorry, this recipe doesn't exist or may have been removed

            footer.recipe-detail-footer.grid-padding
                a.btn.btn-left-arrow(href="/recipes") Back

            include ../includes/_foot