doctype html
html
    include ../includes/head.jade
    body
        h1 <strong>The</strong> Individual Recipe

        p= recipe.name
        img(src= recipe.image)

        include ../includes/foot.jade