doctype html
html
    include ../includes/head.jade
    body
    if recipes.length
        h1 <strong>The</strong> Recipe List!

        ul.recipe-list
            each recipe in recipes
                li
                    p= recipe.name
                    img(src= recipe.image)
    else
        p Sorry, we currently have no recipes for you

    include ../includes/foot.jade