doctype html
html
    include ../includes/head.jade
    body
        h1 <strong>The</strong> Recipe List!

        ul.recipe-list
            each recipe in recipes
                li
                    p= recipe.name
                    img(src= recipe.image)

        pre #{ JSON.stringify(recipes, null, '\t') }